Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -modernize-raw-string-literal
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
